.common-bg
{
    background-color: #e4bddd;
}

.common-title
{
    color:#7a4219;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
}

.common-subTitle
{
    color: #b87416;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.common-btn
{
   background-color: #edc657 !important;
   color:#3d1c0b !important;
   padding: 10px 30px;
   text-decoration: none;
   text-transform: uppercase;
   border:none
}

.item-button
{
    color:#3d1c0b !important;
    background-color: #edc657 !important;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.item-button:hover,.common-btn:hover
{
    background-color: #e6af2e !important;
}

.item-button:active,.common-btn:active
{
    background-color: #e6af2e !important;
}

.common-item
{
    color:#68371b !important;
    background-color:#f9f0c8  !important;
    text-align: center;
    padding: 10px 0px;
}

.text-justify
{
    text-align: justify;
}

ul .button-color
{
    background-color:#e7eb90;
    color:  black !important;
}

ul .button-color:hover,.button-color.active
{
    background-color:  #fadf63;    
    color:  black !important;
}

 .nonVeg
{
    background-color:  #e7eb90;
    color: #2274a5 !important;
}

.nonVeg:hover,.nonVeg.active
{  
    background-color:  #fadf63;
    color: #632b30 !important;
} 

p
{
    margin-bottom: 0;    
}

.button-color
{
    background-color: #e6af2e;
}

.button-shade
{
  /* background-color: #f5dce0; */
  background-color:#f7e9a9;
}

.highlight-color
{
    color: #2274a5;
}

.sub-title
{
  color:#c3b306;
}

/* Menu Button */

.menu-parent
{
    background-color: #935315;
    padding: 20px;
}

.menu-btn
{ 
    padding: 8px 16px;
    color: #f9f0c8;
    text-decoration: none;
    border-radius: 2px;
}

.menu-btn:hover
{
    background-color: #edc657;
    color: #935315 !important;
    transition: 0.5s;
}

.menu-btn.active
{
    background-color: #e6af2e;
    color: #935315 !important; 
}