.common-bg
{
    background-color: #e0e2db;
}

.common-title
{
    color: #3d348b !important;
}

.common-button
{
    color: #e0e2db !important;
    background-color: #3d348b !important;
}


ul .button-color
{
    background-color:#e7eb90;
    color:  black !important;
}

ul .button-color:hover,.button-color.active
{
    background-color:  #fadf63;    
    color:  black !important;
}

 .nonVeg
{
    background-color:  #e7eb90;
    color: #2274a5 !important;
}

.nonVeg:hover,.nonVeg.active
{  
    background-color:  #fadf63;
    color: #632b30 !important;
} 

p
{
    margin-bottom: 0;    
}

.button-color
{
    background-color: #e6af2e;
}

.button-shade
{
  /* background-color: #f5dce0; */
  background-color:#f7e9a9;
}

.highlight-color
{
    color: #2274a5;
}

.sub-title
{
  color:#c3b306;
}